@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.container {
  @include xxl-block-min {
    width: 80%;
  }
}

.block {
  margin-bottom: $spacing-md;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.point {
  display: block;
  margin-bottom: $spacing-sm;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  margin-bottom: $spacing-sm;

  &::before {
    content: '';
    width: $spacing-xs;
    height: $spacing-xs;
    background-color: $primary-color;
    border-radius: 50%;
    flex-shrink: 0;
  }
}