@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  border: 2px solid $primary-color-opacity;
  padding: $spacing-sm;
  cursor: pointer;
  will-change: transform;
  height: 80px;

  @include md-block {
    border-radius: $border-radius-mobile;
    padding: $spacing-xs;
    height: 60px;

  }

  &:hover {
    background-color: $primary-color;
    border: 0;
    transform: scale(1.01);
    transition: 0.3s;


    span {
      color: white !important;
    }
  }
}

.text {
  margin-top: -1px;
  font-size: $font-size-m;
  color: $primary-color;

  @include md-block {
    font-size: $font-size-s;
  }
}