@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.main {
    max-width: $breakpoint-xxl;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;

    @include xxl-block {
        overflow: hidden;
    }

    @include md-block {
        gap: $spacing-md;
    }
}

.messageButton {
    display: none;

    @include xl-block-min {
        display: block;
        position: fixed;
        bottom: 60px;
        right: 80px;
    }
}