@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.container {
  @include wrapper(0);
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 200px;
  z-index: 10;

  @include md-block {
    padding: 0 $spacing-xs;
  }
}


.logo {
  width: 103px;
  height: auto;
}

.contacts {
  &__container {
    display: flex;
    position: absolute;
    right: 10px;

    @include md-block {
      display: none;
    }

    @include xxl-block {
      right: 60px;
    }

    &__switch {
      margin-left: 40px;
    }
  }
}

.burger {
  position: absolute;
  right: 24px;
  display: none;

  cursor: pointer;

  @include md-block {
    display: block;
  }
}

.burgerList {
  @include md-block-min {
    display: none;
  }

  position: absolute;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: $border-radius-mobile;
  border-bottom-right-radius: $border-radius-mobile;
  padding: 23px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease,
  opacity 0.3s ease;
  z-index: -1;

  &[data-open="true"] {
    transform: translateY(0);
    opacity: 1;
    z-index: 2;
  }

  &__item {
    width: 100%;
    cursor: pointer;

    &:hover {
      span {
        color: $primary-color;
        transition: color 0.2s;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;

    &__contact {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}