@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.container {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 200px;

  @include md-block {
    padding: 0 $spacing-xs;
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 12px;

  position: absolute;
  right: 200px;

  :last-child {
    margin-left: 16px;
  }

  @include md-block {
    display: none;
  }

  @include xxl-block {
    right: 60px;
  }
}

.burger {
  position: absolute;
  right: 24px;
  display: none;

  @include md-block {
    display: block;
  }
}