@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.container {
  @include xxl-block-min {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $spacing-sm;
    align-items: stretch;

    .block:nth-last-child(1):nth-child(odd) {
      grid-column: 1 / 3;
      justify-self: center;
      width: calc(50% - $spacing-sm / 2);
    }
  }

}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-xs;
  padding: $spacing-md;
  background-color: $primary-grey;
  border-radius: $border-radius-mobile;

  &:last-child {
    margin-bottom: 0;
  }

  &Row {
    display: flex;
    justify-content: space-between;
    gap: $spacing-sm;
  }

  @include xxl-block-min {
    padding: $spacing-lg;
    height: 100%;
  }
}

.title {
  margin-bottom: $spacing-sm;
}

.textNumber {
  display: block;
  color: white;
  font-weight: 600;
  margin-bottom: $spacing-sm;
}