@use "@/styles/_variables" as *;
@import "@/styles/customize.scss";

.contacts {
  &__items {
    display: flex;
    align-items: center;
    gap: 12px;

    a:hover {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
}